body {
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #194494;
  color: black;
  padding: 5px;
}

.headerpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logctn {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  height: 40px;
  gap: 5px;
  margin-right: 30px;
}

.pothn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  gap: 30px;
}

.maincontent {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: start;
  text-align: left;
  margin-left: 20px;
}

.center {
  margin: 10;
  text-align: center;
  width: 100%;
}

#main1 {
  display: flex;
  gap: 30px;
}

.org {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.orgactn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  object-fit: fill;
}

#main2 {
  display: none;
  gap: 30px;
}

#main3 {
  display: none;
  gap: 30px;
}

.divm3 {
  display: flex;
  flex-direction: column;
}

.listm3 {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 auto 0 auto;
  gap: 30px;
}

.tarifinscrip {
  border-spacing: 20px;
}

.suplement {
  margin: 0 auto 0 auto;
  border-spacing: 20px;
}

#main4 {
  display: none;
  justify-content: center;
  gap: 10px;
}

caption {
  color: red;
  font-weight: 700;
}

.listm4 {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 auto 0 auto;
  gap: 20px;
}

#main5 {
  display: none;
}

.resp {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

#resp1 {
  height: 100px;
}

#resp2 {
  height: 100px;
}

.popup {
  z-index: 1;
  display: none;
  flex-direction: row;
  opacity: 0.9;
  position: fixed;
  background-color: black;
  color: white;
  padding: auto;
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 5 10;
}

.btnclose {
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  border: solid 1px #194494;
  border-radius: 15px;
  padding-top: 0 !important;
}

.listpop {
  color: white;
}

.popctn {
  width: 80%;
  margin: auto;
}

#popctn1 {
  display: flex;
  flex-direction: column;
}

#popctn2 {
  display: none;
  flex-direction: column;
  gap: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  width: 200px;
}

.ctndates {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #194494;
  color: aliceblue;
}

.footerlist {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/*version tablette*/
@media screen and (max-width: 1024px) {
  body {
    margin: 10px;
  }
  main {
    flex-direction: column-reverse;
  }
  .maincontent {
    margin-left: -5%;
  }
  .logctn {
    justify-content: flex-start;
  }
  aside {
    flex-direction: row;
    border: solid 1px #194494;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
  }
  footer {
    display: flex;
    justify-content: end;
  }
  .footerlist {
    gap: 20px;
  }
}
/*version mobile*/
@media screen and (max-width: 720px) {
  body {
    margin: 5px;
  }
  aside {
    justify-content: space-evenly;
    font-size: 20px !important;
  }
  .asidetitle {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  .footerlist {
    flex-direction: column;
    gap: 20px;
  }
}
h1 {
  font-family: "Brygada";
  font-size: 50px;
  margin: 5;
}

h2 {
  font-family: "Brygada";
  font-size: 30px;
  margin: 5;
}

h3 {
  font-family: "Brygada";
  font-size: 20px;
  margin: 5;
}

i {
  font-family: "Brygada";
  font-size: 20px;
}

h4 {
  font-family: "Brygada";
  font-size: 20px;
  text-decoration: underline;
  margin: 5;
}

h5 {
  font-family: "Brygada";
  font-size: 18px;
  margin: 5;
}

p {
  font-family: "Brygada";
  margin: 5;
}

.poptxt {
  position: fixed;
  border: solid 1px #194494;
  border-radius: 15px;
  top: 50%;
  left: 45%;
  padding: 20px;
}

table, ul {
  font-family: "Brygada";
}

.dates {
  color: white;
  font-style: italic;
}

button, a {
  font-family: "Brygada";
  list-style: none;
  text-decoration: none;
}

.navbtn {
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.navbtn2:hover {
  border: solid #FCD965;
  color: #FCD965;
}

.navbtn2 {
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  border: solid 1px #194494;
  width: 90%;
  height: 100%;
  padding-top: 0 !important;
}

#accueil {
  display: flex;
}

#comm {
  display: none;
}

.orgaimg {
  height: 200px;
  width: 200px;
}

.insbtn {
  margin: 0 auto 0 auto;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: solid 1px #194494;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 0 !important;
  margin-top: 10px;
}

.insbtn:hover {
  border: solid #FCD965;
  color: #FCD965;
}

.btns {
  display: none;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: solid 1px #194494;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 0 !important;
  margin: 0 auto 0 auto;
}

.centerbtn {
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: auto;
  width: 50%;
  height: 50px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}

.centerbtn:hover {
  background-color: #FCD965;
}

.afp {
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  color: #194494;
  cursor: pointer;
  font-size: 9px;
  margin-top: 70px;
}

.btns:hover {
  background-color: #FCD965;
}

/*version tablette*/
@media screen and (max-width: 1024px) {
  .logbtn {
    width: 20%;
  }
}
/*version mobile*/
@media screen and (max-width: 720px) {
  .logbtn {
    width: 25%;
  }
}

/*# sourceMappingURL=index.css.map */
