@mixin ctnvert{
    display: flex;
    flex-direction: column;
}

@mixin ctnhor{
    display: flex;
    flex-direction: row;
}

@mixin btnbasic{
    height: 25px;
    border-radius:  15px; 
    text-align: center;
    background-color: white;
    color: $color1;
    cursor: pointer;
}

@mixin popup-transition {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  