$fontfam: 'Brygada';
$fontcolor: aliceblue;

$color1: #194494;
$color2: #FCD965;


$margintop: 0 auto auto auto;
$marginb: auto auto 0 auto;

$borderrad: 15px;
$borderrad2: 0;
$bordersize: solid 1px $color1; 